@media screen and (max-width:480px) {
  .chat {
    margin: 16px;
  }

  .chat button{
    margin-right: 8px;
    padding: 4px;
    border: 1px solid #999 !important;
    border-radius: 8px;
    background: #eeeeee !important;
  }

  .chat .login-user {
    margin-top: 20px;
  }

  .chat .post-info {
    overflow: hidden;
  }

  .chat .post-info form {
    float: left;
    margin-right: 32px;
  }

  .chat .post-info .length-count {
    float: left;
    margin-right: 32px;
  }

  .chat .post-info .consult-timelimit {
    float: left;
    margin-right: 32px;
  }

  .chat .online-users select{
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    background-color: #f9f9f9;
  } 

  textarea {
    margin-top: 8px;
    padding: 8px;
    width: 500px;
    height: 100px;
    border: 1px solid #999 !important;
    border-radius: 8px;
  }

  .chat .chat-container{
    display: flex;
    margin-top: 32px;
    justify-content: space-between; /* 両コンテンツの間にスペースを追加 */
  }

  .chat .chat-area{
    width: 70%; /* チャット画面の幅を設定 */
    overflow: auto; /* 必要に応じてスクロールを有効にする */
  }

  .chat .optionIcon {
    float: left;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    border: 1px solid #000 !important;
    border-radius: 50%;
  }

  .chat .optionIcon.report::before{
    content: "報告";
  }

  .chat .optionIcon.contact::before{
    content: "連絡";
  }

  .chat .optionIcon.consult::before{
    content: "相談";
  }

  .chat .optionIcon.confirm::before{
    content: "確認";
  }

  .chat .chat-area li{
    overflow: hidden;
    margin-bottom: 32px;
  }

  .chat .chat-area .message{
    float: left;
    width: calc(100% - 60px);
  }

  .chat .messageContent{
    display: inline-block;
    position: relative;
    margin: 0 0 10px 0;
    padding: 10px;
    max-width: 800px;
    border-radius: 12px;
  }

  .chat .messageContent::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  .chat .enter_message, .leave_message{
    padding: 10px;
    margin-left: 50px;
    width: 200px;
    border: 1px solid #000;
    border-radius: 12px;
  }

  .chat .message.mine .messageContent{
    background: #97ebac;
  }

  .chat .message.mine .messageContent::after{
    border-right: 18px solid #97ebac;
  }

  .chat .message.others .messageContent {
    background: #edf1ee;
  }

  .chat .message.others .messageContent::after {
    border-right: 18px solid #edf1ee;
  }

  .chat .message.mentioned .messageContent {
    background: #D8FF00;
  }

  .chat .message.mentioned .messageContent::after {
    border-right: 18px solid #D8FF00;
  }

  .chat .notes {
    margin-left: 2em;
  }

  .chat .my-username {
    font-weight: bold;
    color: blue;
  }

  .chat .mentioned .messageContent{
    display: inline-block;
    position: relative;
    margin: 0 0 10px 0;
    padding: 10px;
    max-width: 800px;
    border-radius: 12px;
    background: #ddff00;
  }

  .chat .mentioned .messageContent::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #ddff00;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  .chat .memo{
    width: 30%; /* メモ画面の幅を設定 */
    overflow: auto; /* 必要に応じてスクロールを有効にする */
    margin-left: 10px; /* チャット欄とメモ欄の間にマージンを追加 */
  }

  .chat .memo.reply{
    margin: -8px;
    padding: 8px;
    border-radius: 16px;
    background: #eee;
  }

  .chat .memo.reply .messageContent{
    background: #97ebac;
  }

  .chat .memo.reply .messageContent::after{
    border-right: 18px solid #97ebac;
  }

  .chat .button-exit {
    color: #000;
    margin-top: 8px;
  }
}
