@media screen and (max-width:480px) {
  .login {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
  }

  .login h1 {
    font-size: 300%;
    font-weight: normal;
  }

  .login input[type="text"] {
    border-radius: 10px;
    width: 400px;
    border: 1px solid #090909;
    padding: 1em;
    background-color: white;
  }

  .login button {
    border-radius: 10px;
    color: black;
    background-color: blue !important;
    padding: 1em;
    width: 400px;
    margin-top: 1em;
  }
}
