@media screen and (min-width:481px) {
  .chat {
    margin: 16px;
  }
  .chat h1{/*報連相チャットルーム*/
    text-align: center;
    padding: 0.2em 1em;/* 上下の余白を小さく */
    margin: 0.2em 0; /* 上下の余白を小さく */
    letter-spacing: 20px; /* 文字間隔を2pxに設定*/
    font-weight: bold;
    color: #6594e0;/*文字色*/
    border-bottom: dashed 2px #6594e0;
    
    
  }
  .chat button{/*投稿　メモボタン*/
    margin-right: 8px;
    padding: 4px;
    border: 1px solid #999 !important;
    border-radius: 8px;
    background: #eeeeee !important;
  }
  .chat .post{
    width: 90%;
    padding: 2em 1em;
    margin: 2em auto;
    color: #00BCD4;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.32);/*影*/
  }

  .chat .login-user {/*ログインユーザー：○○さん*/
    text-align: center;
    padding: 0.5em 1em;
    margin: 0.2em 0;
    font-weight: bold;
    letter-spacing: 5px;
    color: #0a0a0af3;
    background: #FFF;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .chat .post-info {/*報連相選択　文字数*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 0.5em 1em;
    margin: 0.5em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    font-size: 18px; /* フォントサイズを20pxに設定 */
    letter-spacing: 2px; /* 文字間隔を2pxに設定*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    width: 80%;/*画面の大きさが変わっても見やすい*/
    margin: 0 auto; /* 水平方向に中央寄せ */
    margin-bottom: 5px; /* 下に10pxのスペースを追加 */
  }

  .chat .post-info form {
    float: left;
    margin-right: 32px;
  }

  .chat .post-info .length-count {
    float: left;
    margin-right: 32px;
  }

  .chat .post-info .consult-timelimit {
    float: left;
    margin-right: 32px;
  }
  .chat .online-users{/*メンションするオンラインユーザー*/
    text-align: center;
    padding: 0.3em 1em;
    margin: 0.5em 0;
    font-weight: bold;
    color: #0a0a0af3;/*文字色*/
    background: #FFF;
    border: solid 1.5px #0a0a0af3;/*線*/
    border-radius: 5px;/*角の丸み*/
    width: 80%;/*画面の大きさが変わっても見やすい*/
    margin: 0 auto; /* 水平方向に中央寄せ */
    margin-bottom: 5px; /* 下に10pxのスペースを追加 */
  }

  .chat .online-users select{/*メンションするオンラインユーザー　選択*/
    text-align: center;
    width: 20%;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    background-color: #f9f9f9;
  } 
  .post textarea {/*山口さんが教えてくれたところ*/
    width: 80%;
    padding: 8px 10px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    background: #f7f7f7;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 5px; /* 下に10pxのスペースを追加 */
  }

  textarea {/*横幅を500pxにしたいけど、上手くいかない*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding: 8px;
    height: 100px;
    border: 1px solid #999 !important;
    border-radius: 8px;
    margin-bottom: 10px; /* 下に10pxのスペースを追加 */
  }

  .chat .submit{/*投稿　メモボタンの外枠*/
    text-align: center;
    width: 200em;
    padding: 0.3em 1em;
    margin: 0.5em 0;
    font-weight: bold;
    color: #0a0a0af3;/*文字色*/
    background: #FFF;
    border: solid 1.5px #0a0a0af3;/*線*/
    border-radius: 5px;/*角の丸み*/
    width: 80%;/*画面の大きさが変わっても見やすい*/
    margin: 0 auto; /* 水平方向に中央寄せ */
    margin-bottom: 5px; /* 下に10pxのスペースを追加 */
  }
  .post button {/*山口さんが教えてくれたところ*/
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30px;
    padding: 5px 5px;
    border: 1px solid #2589d0;
    border-radius: 25px;
    background-color: #fff;
    color: #2589d0;
    font-size: 15px;
    margin: 5px 50px;
  }

  .chat .chat-container{
    display: flex;
    margin-top: 32px;
    justify-content: space-between; /* 両コンテンツの間にスペースを追加 */
  }

  .chat .chat-area{
    width: 70%; /* チャット画面の幅を設定 */
    overflow: auto; /* 必要に応じてスクロールを有効にする */
  }

  .chat .optionIcon {
    float: left;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    border: 1px solid #000 !important;
    border-radius: 50%;
  }

  .chat .optionIcon.report::before{
    content: "報告";
  }

  .chat .optionIcon.contact::before{
    content: "連絡";
  }

  .chat .optionIcon.consult::before{
    content: "相談";
  }

  .chat .optionIcon.confirm::before{
    content: "確認";
  }

  .chat .chat-area li{
    overflow: hidden;
    margin-bottom: 32px;
  }

  .chat .chat-area .message{
    float: left;
    width: calc(100% - 60px);
  }

  .chat .messageContent{
    display: inline-block;
    position: relative;
    margin: 0 0 10px 0;
    padding: 10px;
    max-width: 800px;
    border-radius: 12px;
  }

  .chat .messageContent::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  .chat .enter_message, .leave_message{
    padding: 10px;
    margin-left: 50px;
    width: 200px;
    border: 1px solid #000;
    border-radius: 12px;
  }

  .chat .message.mine .messageContent{
    background: #97ebac;
  }

  .chat .message.mine .messageContent::after{
    border-right: 18px solid #97ebac;
  }

  .chat .message.others .messageContent {
    background: #edf1ee;
  }

  .chat .message.others .messageContent::after {
    border-right: 18px solid #edf1ee;
  }

  .chat .message.mentioned .messageContent {
    background: #D8FF00;
  }

  .chat .message.mentioned .messageContent::after {
    border-right: 18px solid #D8FF00;
  }

  .chat .notes {
    margin-left: 2em;
  }

  .chat .my-username {
    font-weight: bold;
    color: blue;
  }

  .chat .mentioned .messageContent{
    display: inline-block;
    position: relative;
    margin: 0 0 10px 0;
    padding: 10px;
    max-width: 800px;
    border-radius: 12px;
    background: #ddff00;
  }

  .chat .mentioned .messageContent::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #ddff00;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  .chat .memo{
    width: 30%; /* メモ画面の幅を設定 */
    overflow: auto; /* 必要に応じてスクロールを有効にする */
    margin-left: 10px; /* チャット欄とメモ欄の間にマージンを追加 */
  }

  .chat .memo.reply{
    margin: -8px;
    padding: 8px;
    border-radius: 16px;
    background: #eee;
  }

  .chat .memo.reply .messageContent{
    background: #97ebac;
  }

  .chat .memo.reply .messageContent::after{
    border-right: 18px solid #97ebac;
  }

}
