.login-user {
  margin-top: 20px; /* この値を調整して、希望の間隔に設定します */
}
.chat-memo-container {
  display: flex;
  justify-content: space-between; /* 両コンテンツの間にスペースを追加 */
}
.chat-section {
  width: 70%; /* チャット画面の幅を設定 */
  overflow: auto; /* 必要に応じてスクロールを有効にする */
}

.memo-section {
  width: 30%; /* メモ画面の幅を設定 */
  overflow: auto; /* 必要に応じてスクロールを有効にする */
  margin-left: 10px; /* チャット欄とメモ欄の間にマージンを追加 */
}
.link {
  text-decoration: none;
}

.area {
  width: 500px;
  border: 1px solid #000;
  margin-top: 8px;
}

.item {
  display: block;
}

.util-ml-8px {
  margin-left: 8px;
}

.button-exit {
  color: #000;
  margin-top: 8px;
}


/* 投稿表示欄 */

/* (自分のメッセージ) */
.my-message .messageContent{
  background: #97ebac;
}
.my-message .messageContent::after{
  border-right: 18px solid #97ebac;
}

/* (他人のメッセージ) */
.others-message .messageContent {
  background: #edf1ee;
}
.others-message .messageContent::after {
  border-right: 18px solid #edf1ee;
}

/* 吹き出し */
.messageContent{
  display: inline-block;
  position: relative;
  margin: 0 0 10px 0;
  padding: 10px;
  max-width: 800px;
  border-radius: 12px;
}
.messageContent::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.b-color{
  background: #97ebac;
}
.b-color::after{
  border-right: 18px solid #97ebac;
}

/* 表示順切り替えのチェックボックスが隣とくっつくので、仮の処理 */
label{
  margin-left: 8px;
}

/* ホバー時の効果も見やすいものに調整 */
/* .my-message:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
} */

/* 横並び用 */
.flex {
  display: flex;
}

/* 投稿欄のアイコン */
.optionIcon {
  width: 50px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 50%;
}

.optionIcon.report::before{
  content: "報告";
}

.optionIcon.contact::before{
  content: "連絡";
}

.optionIcon.consult::before{
  content: "相談";
}

.optionIcon.confirm::before{
  content: "確認";
}

.display-by-function {
  margin-left: 0 0 0 auto;
  padding-left: 20px;
  border: #000;
}

.notes {
  margin-left: 2em;
}

/* 強調させたい→赤*/
.red {
  color: #CC0000;
}

label {
  margin: 0 5px 0 0;
  padding: 0 0 0 0;
}
.my-username {
  font-weight: bold;
  color: blue;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  /* justify-content: flex-start; 左寄せにする */
}


.border-bottom{
  border-bottom: 2px #0bd solid;
}

.select {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  background-color: #f9f9f9;
}

.mentioned .messageContent{
  display: inline-block;
  position: relative;
  margin: 0 0 10px 0;
  padding: 10px;
  max-width: 800px;
  border-radius: 12px;
  background: #ddff00;
}

.mentioned .messageContent::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #ddff00;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

p, select.select {
  height: 40px;  /* または適切な高さ */
  line-height: 40px;  /* テキストを垂直方向に中央揃え */
}

/* 名前表示欄 */
.user-name {
  font-size: 3px;
}