/*
  Reply.vueは使わなそうなので、共通のスタイルをPC版とスマホ版の両方に適用する作業は行なってません
*/

@media screen and (min-width:481px) {
  .reply button{
    margin-right: 8px;
    padding: 4px;
    /* border: 1px solid #999 !important; */
    border-radius: 8px;
  }
  .reply h1{/*コミュニケーションラボ*/
    text-align: center;
    padding: 0.2em 1em;/* 上下の余白を小さく */
    margin: 0.2em 0; /* 上下の余白を小さく */
    letter-spacing: 20px; /* 文字間隔を2pxに設定*/
    font-weight: bold;
    color: #6594e0;/*文字色*/
    border-bottom: dashed 2px #6594e0;
  }
  .reply .reply-message{/*どこの文章に返信するか？*/
    text-align: left;
    padding: 0.5em 1em;
    margin: 0.2em 0;
    color: #0a0a0af3;
    border: solid 1px #0a0a0af3;/*線*/
    background: #FFF;
    border-radius: 4px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .reply .reply-top{/*返信画面専用という文字*/
    text-align: center;
    padding: 0.5em;
    background: #dffcdf;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
    width: 80%;
    padding: 0.5em 1em;
    margin: 0.5em auto;
    font-size: 20px;
  }
  .reply .input-section {/*影付きの囲い*/
    text-align: center;
    width: 80%;
    padding: 2em 1em;
    margin: 2em auto;
    color: #000000;
    background: #dffcdf;/*背景色*/
    border-top: solid 6px #64f164;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.32);/*影*/
  }
  .reply .login-user {
    margin-top: 20px;
  }

  .reply .post-info {
    overflow: hidden;
  }

  .reply .post-info form {
    float: left;
    margin-right: 32px;
  }

  .reply .post-info .length-count {
    float: left;
    margin-right: 32px;
  }

  .reply .post-info .consult-timelimit {
    float: left;
    margin-right: 32px;
  }

  .reply .online-users select{
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    background-color: #f9f9f9;
  }
  .reply  textarea {/*山口さんが教えてくれたところ*/
    padding: 8px 10px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    background: #f7f7f7;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 5px; /* 下に10pxのスペースを追加 */
  }

  textarea {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding: 8px;
    height: 100px;
    border: 1px solid #999 !important;
    border-radius: 8px;
    margin-bottom: 10px; /* 下に10pxのスペースを追加 */
  }

  .mt-5 .button-normal{
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40px;
    padding: 5px 5px;
    border: 5px solid #2589d0;
    border-radius: 25px;
    background-color: #fff;
    color: #050505;
    font-size: 20px;
    margin: 5px 50px;
  }

  .reply .chat-container{
    display: flex;
    margin-top: 32px;
    justify-content: space-between; /* 両コンテンツの間にスペースを追加 */
  }

  .reply .chat{
    width: 70%; /* チャット画面の幅を設定 */
    overflow: auto; /* 必要に応じてスクロールを有効にする */
  }

   /* .reply .* 投稿欄のアイコン */  */
  .optionIcon {
    float: left;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    border: 1px solid;
    border-radius: 50%;
  }

  .reply .optionIcon.report::before{
    content: "報告";
  }

  .reply .optionIcon.contact::before{
    content: "連絡";
  }

  .reply .optionIcon.consult::before{
    content: "相談";
  }

  .reply .optionIcon.confirm::before{
    content: "確認";
  }

  .reply .chat li{
    overflow: hidden;
    margin-bottom: 32px;
  }

  .reply .chat .message{
    float: left;
    width: calc(100% - 60px);
  }

  .reply .messageContent{
    display: inline-block;
    position: relative;
    margin: 0 0 10px 0;
    padding: 10px;
    max-width: 800px;
    border-radius: 12px;
  }

  .reply .messageContent::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  .reply .enter_message, .leave_message{
    padding: 10px;
    margin-left: 50px;
    width: 200px;
    border: 1px solid #000;
    border-radius: 12px;
  }

  .reply .message.mine .messageContent{
    background: #97ebac;
  }

  .reply .message.mine .messageContent::after{
    border-right: 18px solid #97ebac;
  }

  .reply .message.others .messageContent {
    background: #edf1ee;
  }

  .reply .message.others .messageContent::after {
    border-right: 18px solid #edf1ee;
  }

  .reply .message.mentioned .messageContent {
    background: #D8FF00;
  }

  .reply .message.mentioned .messageContent::after {
    border-right: 18px solid #D8FF00;
  }

  .reply .notes {
    margin-left: 2em;
  }

  .reply .my-username {
    font-weight: bold;
    color: blue;
  }

  .reply .mentioned .messageContent{
    display: inline-block;
    position: relative;
    margin: 0 0 10px 0;
    padding: 10px;
    max-width: 800px;
    border-radius: 12px;
    background: #ddff00;
  }

  .reply .mentioned .messageContent::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #ddff00;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  .reply .memo{
    width: 30%; /* メモ画面の幅を設定 */
    overflow: auto; /* 必要に応じてスクロールを有効にする */
    margin-left: 10px; /* チャット欄とメモ欄の間にマージンを追加 */
  }

  .reply .memo.reply{
    margin: -8px;
    padding: 8px;
    border-radius: 16px;
    background: #eee;
  }

  .reply .memo.reply .messageContent{
    background: #97ebac;
  }

  .reply .memo.reply .messageContent::after{
    border-right: 18px solid #97ebac;
  }

  .reply .button-exit {
    color: #000;
    margin-top: 8px;
  }
}