@media screen and (min-width:481px) {
  /* PCだけに適用したいスタイル */
  
  /*******************************************/
  /* 投稿表示欄60%+メモ・返信欄40%の場合 */
  /*******************************************/
  .chat .chat-container {
    display: flex;
  }

  .chat-area {
    width: 60%;
    border: 1px solid #00BCD4;
  }

  .sub-display {
    width: 40%;
    margin-left: 10px;
  }

  /*******************************************/
  /* 投稿表示欄100%の場合 */
  /*******************************************/
   .main-only {
    width: 100%;
  }


}


@media screen and (max-width:480px) {
  /* スマホだけに適用したいスタイル */

  /**** 返信欄 ****/
  
  .reply textarea {
    width: 90%;
    margin: 0 8px;
  }

  .chat .button-container.responsive-flex {
    display: block;
    width: 12em;
    background-color: aliceblue;
  }

}