@media screen and (min-width:481px) {
  /* PCだけに適用したいスタイル */
  
  /*******************************************/
  /* 投稿表示欄60%+メモ・返信欄40%の場合 */
  /*******************************************/
  .chat .chat-container {
    display: flex;
  }

  .chat-area {
    width: 60%;
    border: 1px solid #00BCD4;
  }

  .sub-display {
    width: 40%;
    margin-left: 10px;
  }

  /*******************************************/
  /* 投稿表示欄100%の場合 */
  /*******************************************/
   .main-only {
    width: 100%;
  }


}


@media screen and (max-width:480px) {
  /* スマホだけに適用したいスタイル */
  .chat h1 {/*コミュニケーションラボ*/
    padding: 0.2em 0em;/* 上下の余白を小さく */
    margin: 0em 0; /* 上下の余白を小さく */
    letter-spacing: 0px; /* 文字間隔を2pxに設定*/
  }
  .chat .chat-area .message{
    float: left;
    width: 100%;
  }
  .chat .post {
    width: 100%;
  }
  .chat .post .post-info {/*報連相選択　文字数*/
    width: 100%;/*画面の大きさが変わっても見やすい*/
  }
  .chat .post .reportTo {/*メンションするオンラインユーザー*/
    width: 100%;/*画面の大きさが変わっても見やすい*/
  }
  .chat .post .consult-timelimit{
    width: 100%;/*画面の大きさが変わっても見やすい*/
  }
  .chat .post textarea {/*山口さんが教えてくれたところ*/
    width: 100%;
  }
  .chat .post .submit {/*投稿　メモボタンの外枠*/
    width: 100%;/*画面の大きさが変わっても見やすい*/
  }
  .chat .post button {/*山口さんが教えてくれたところ*/
    margin: 5px 10px;
  }
  .chat .chat-container {
    width: 100%;
  }
  .exit-button {
    width: 30%;
  }

  /**** 返信欄 ****/
  
  .reply textarea {
    width: 90%;
    margin: 0 8px;
  }

  .chat .button-container.responsive-flex {
    display: block;
    width: 12em;
    background-color: aliceblue;
  }

}